*{
    padding: 0;
    margin: 10;
    box-sizing: border-box;
    }


body {
    background-color: rgb(255, 255, 255);
    font-family: 'Raleway', sans-serif;
}
/* the main container */
/* 400,400i,500 */

.front-side,
.back-side {
  width: 390px;
  height: 220px;
  /* display: grid; */
  /* each student will customize based on their grid */
  /* grid-template-columns: 2% 96% 2%;
  grid-template-rows: 4% 92% 4%; */
  position: relative;
  /* adjust this to space out the cards */
  margin: 20px auto;
  overflow: hidden;
  box-shadow: 2px 5px 15px 0px #17161694;
  background-color: rgb(245, 239, 222);
}

.front-side{
  background-image: url('name_watercolor.tif');
}

.name{
  display: grid;
  position: relative;
  margin-left:30px;
  padding: 10px

}

.web-icon{
  position: fixed;
  margin-left: 130px;
  margin-top: 50;

}

.mail-icon{
  position: fixed;
  margin-left: 250px;
  margin-top: 50;

}

.instagram-icon{
  position: fixed;
  margin-top: 50;

}

.links{
  display: grid;
  position: relative;
  margin-left:30px;
  font-weight: 500

}

h5{
  position: relative;
  margin-top: 30%;
  margin-left: 32%;
  font-weight: 500;
  color: rgb(245, 239, 222)
}
h4{
  font-weight:500;

}