*{
    padding: 0;
    margin: 10;
    box-sizing: border-box;
    }


body {
    background-color: rgb(255, 255, 255);
    font-family: 'Raleway', sans-serif;
}
/* the main container */

.front-side,
.back-side {
  width: 390px;
  height: 220px;
  /* display: grid; */
  /* each student will customize based on their grid */
  /* grid-template-columns: 2% 96% 2%;
  grid-template-rows: 4% 92% 4%; */
  position: relative;
  /* adjust this to space out the cards */
  margin: 20px auto;
  overflow: hidden;
  box-shadow: 2px 5px 15px 0px #17161694;
  background-color: rgb(206, 206, 236);
}

.front-side{
  background-image: url('name_watercolor.tif');
}

.name{
  display: grid;
  position: relative;
  margin-left:30px;
  padding: 10px

}

.secondary{
  display: grid;
  position: relative;
  margin-left:30px;

}



/* h3{
  margin-bottom: 0px;
}

h5{
  margin-top: 0px;
  padding-top: 0px;
} */